{{ form_start(form, {'action': '' , 'method':'POST'}) }}

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}Capacitacion de Symfony 3.2{% endblock %}
        </title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <style type="text/css">
            .btn-form-category{
                margin: 10px 0px;
            }

            .form-mb{
                margin-bottom: 10px;
            }

            div.form-group
            {
                border: 1px solid #ddd !important;
                margin: 0;
                padding: 10px;
                position: relative;
                border-radius:4px;
                padding-left:10px!important;
                display: flex;
            }

        </style>
    </head>

    <div class="row">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="col-md-12 form-mb">
            {% if form.name is defined  %}
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            {% endif %}
        </div>

        <div class="col-md-12 form-mb">
            {% if form.submit is defined  %}
                {{ form_label(form.submit) }}
                {{ form_widget(form.submit) }}
            {% endif %}
        </div>
    </div>
{{ form_end(form) }}