<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Capacitacion de Symfony 3.2{% endblock %}
        </title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('team_index') }}">CRUD de Symfony</a>
                        <a class="navbar-brand" href="{{ path('matches_list') }}">Partidos</a>
                        <a class="navbar-brand" href="{{ path('team_list') }}">Equipos</a>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container">
            <div class="row" style="display:flex;justify-content:center;">
                <div class="col-md-9">
                    <div class="col-md-6">
                        <h2 style="margin-top:0px">Tabla de posiciones</h2>
                    </div>
                </div>
            </div>
            <div class="row" style="display:flex;justify-content:center;">
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Equipo</th>
                                    <th>Puntos</th>
                                    <th>Partidos Jugados</th>
                                    <th>Goles a Favor</th>
                                    <th>Goles en Contra</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for positions in table %}
                                    <tr>
                                        <td>{{ positions.nombre }}</td>
                                        <td>{{ positions.puntos }}</td>
                                        <td>{{ positions.partidos_jugados }}</td>
                                        <td>{{ positions.goles_a_favor }}</td>
                                        <td>{{ positions.goles_en_contra }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>